CER / CEA does not match correctly the applications

When receiving CER events with a list of matching app-ids, the loop will not set correctly the requested values, and will not accept the incoming connection. So, we have created a map to hold all the CER requested vendor App-id, and be able to match them. Previously, the code will overwrite the each time the vendor id, so only the last one will be used. 

We solved the issue by adding a hasmap:
This set will hold the information
Set<Long> vendorIds = new HashSet<>();

**The existing code is:**

```
public List<ApplicationId> getApplicationIdAvps() {
    if (this.applicationIds != null) {
      return this.applicationIds;
    }
    List<ApplicationId> rc = new ArrayList<ApplicationId>();
    try {
      AvpSet authAppId = avpSet.getAvps(Avp.AUTH_APPLICATION_ID);
      for (Avp anAuthAppId : authAppId) {
        rc.add(ApplicationId.createByAuthAppId((anAuthAppId).getInteger32()));
      }
      AvpSet accAppId = avpSet.getAvps(Avp.ACCT_APPLICATION_ID);
      for (Avp anAccAppId : accAppId) {
        rc.add(ApplicationId.createByAccAppId((anAccAppId).getInteger32()));
      }
      AvpSet specAppId = avpSet.getAvps(Avp.VENDOR_SPECIFIC_APPLICATION_ID);
      for (Avp aSpecAppId : specAppId) {
        long vendorId = 0, acctApplicationId = 0, authApplicationId = 0;
        AvpSet avps = (aSpecAppId).getGrouped();
        for (Avp localAvp : avps) {
          if (localAvp.getCode() == Avp.VENDOR_ID) {
            vendorId = localAvp.getUnsigned32();
          }
          if (localAvp.getCode() == Avp.AUTH_APPLICATION_ID) {
            authApplicationId = localAvp.getUnsigned32();
          }
          if (localAvp.getCode() == Avp.ACCT_APPLICATION_ID) {
            acctApplicationId = localAvp.getUnsigned32();
          }
        }
        if (authApplicationId != 0) {
          rc.add(ApplicationId.createByAuthAppId(vendorId, authApplicationId));
        }
        if (acctApplicationId != 0) {
          rc.add(ApplicationId.createByAccAppId(vendorId, acctApplicationId));
        }
      }
    }
    catch (Exception exception) {
      return new ArrayList<ApplicationId>();
    }

    this.applicationIds = rc;
    return this.applicationIds;
  }

```
----------------------------------------------------------------

**The new code is:**

```
public List<ApplicationId> getApplicationIdAvps() {
  if (this.applicationIds != null) {
    return this.applicationIds;
  }
  List<ApplicationId> rc = new ArrayList<ApplicationId>();
  try {
    AvpSet authAppId = avpSet.getAvps(Avp.AUTH_APPLICATION_ID);
    for (Avp anAuthAppId : authAppId) {
      rc.add(ApplicationId.createByAuthAppId((anAuthAppId).getInteger32()));
    }
    AvpSet accAppId = avpSet.getAvps(Avp.ACCT_APPLICATION_ID);
    for (Avp anAccAppId : accAppId) {
      rc.add(ApplicationId.createByAccAppId((anAccAppId).getInteger32()));
    }
    AvpSet specAppId = avpSet.getAvps(Avp.VENDOR_SPECIFIC_APPLICATION_ID);
    for (Avp aSpecAppId : specAppId) {
      long vendorId = 0, acctApplicationId = 0, authApplicationId = 0;
      Set<Long> vendorIds = new HashSet<>();
      AvpSet avps = (aSpecAppId).getGrouped();
      for (Avp localAvp : avps) {
        if (localAvp.getCode() == Avp.VENDOR_ID) {
          vendorId = localAvp.getUnsigned32();
          vendorIds.add(vendorId);
        }
        if (localAvp.getCode() == Avp.AUTH_APPLICATION_ID) {
          authApplicationId = localAvp.getUnsigned32();
        }
        if (localAvp.getCode() == Avp.ACCT_APPLICATION_ID) {
          acctApplicationId = localAvp.getUnsigned32();
        }
      }
      if (authApplicationId != 0) {
        for (Long vendId : vendorIds) {
          rc.add(ApplicationId.createByAuthAppId(vendId, authApplicationId));
        }
      }
      if (acctApplicationId != 0) {
        for (Long vendId: vendorIds) {
          rc.add(ApplicationId.createByAccAppId(vendId, acctApplicationId));
        }
      }
    }
  }
  catch (Exception exception) {
    return new ArrayList<ApplicationId>();
  }

  this.applicationIds = rc;
  return this.applicationIds;
}
```

Thanks @SummaNetworks. Can you do a proper Pull request for the team to review  ?

hi @SummaNetworks ,
Why don't put:
`if (authApplicationId != 0) {
          rc.add(ApplicationId.createByAuthAppId(vendorId, authApplicationId));
        }
        if (acctApplicationId != 0) {
          rc.add(ApplicationId.createByAccAppId(vendorId, acctApplicationId));
        }`
into 
`for (Avp localAvp : avps) {
          if (localAvp.getCode() == Avp.VENDOR_ID) {
            vendorId = localAvp.getUnsigned32();
          }
          if (localAvp.getCode() == Avp.AUTH_APPLICATION_ID) {
            authApplicationId = localAvp.getUnsigned32();
          }
          if (localAvp.getCode() == Avp.ACCT_APPLICATION_ID) {
            acctApplicationId = localAvp.getUnsigned32();
          }
        }`
Can you please correct me if i 'm wrong?
Thanks

Hi phuongdinh1411!!
we will have the same problem if we put that code inside the for(Avp localAvp : avps)
the request we receive will have the following avps:
                <avp name="Vendor-Specific-Application-Id">
                    <avp name="Vendor-Id" value="10415"></avp>
                    <avp name="Vendor-Id" value="13365"></avp>
                    <avp name="Auth-Application-Id" value="16777251"></avp>
                </avp>
if we add the code inside the for
     for (Avp localAvp : avps) {
        if (localAvp.getCode() == Avp.VENDOR_ID) {
          vendorId = localAvp.getUnsigned32();
        }
        if (localAvp.getCode() == Avp.AUTH_APPLICATION_ID) {
          authApplicationId = localAvp.getUnsigned32();
        }
        if (localAvp.getCode() == Avp.ACCT_APPLICATION_ID) {
          acctApplicationId = localAvp.getUnsigned32();
        }
        if (authApplicationId != 0) { 
           rc.add(ApplicationId.createByAuthAppId(vendorId, authApplicationId)); 
        } 
        if (acctApplicationId != 0) { 
           rc.add(ApplicationId.createByAccAppId(vendorId, acctApplicationId)); 
        }
     }
1.- the first iteration will load the Vendor-Id 10415, as the authApplicationId is 0 and acctApplicationId is 0 we won't add anything to rc
2.- the second iteration will load the Vendor-Id 13365, the first value will be overwritten, as authApplicationId is 0 and acctApplicationId is 0 we won't add anything to rc.
3.- the third iteration will load the Auth-Application-Id 16777251, now we will create the ApplicationId.createByAuthAppId using the last vendorId and the authApplicationId, so the rc only will have one ApplicationId with 13365 instead of two (10415 and 13365)

I think this explanation is correct but if you see something please let me know

Thanks!!!

hi @SummaNetworks  seem that "the request we receive will have the following avps:" is missing,
can you check it?
Thanks

sorry, I forget to put the "code" symbol
Thanks

hi @SummaNetworks , it is easier to understand when have example avps.
Yes, for me it is fine.
can you please pull request for it?

Hi @SummaNetworks, @phuongdinh1411 

If I got it correctly, you are receiving the following AVP in a CER/A: 

```
<avp name="Vendor-Specific-Application-Id">
  <avp name="Vendor-Id" value="10415"></avp>
  <avp name="Vendor-Id" value="13365"></avp>
  <avp name="Auth-Application-Id" value="16777251"></avp>
</avp>
```

This seems like an invalid AVP, as per the [section 6.11 of RFC6733 specification](https://tools.ietf.org/html/rfc6733#section-6.11), it should only have one Vendor-Id and one of Auth-Application-Id or Acct-Application-Id:

```
      AVP Format

      <Vendor-Specific-Application-Id> ::= < AVP Header: 260 >
                                           { Vendor-Id }
                                           [ Auth-Application-Id ]
                                           [ Acct-Application-Id ]

   A Vendor-Specific-Application-Id AVP MUST contain exactly one of
   either Auth-Application-Id or Acct-Application-Id.  
```

So, the correct way to have it, is by having two separate Vendor-Specific-Application-Id AVPs:

```
<avp name="Vendor-Specific-Application-Id">
  <avp name="Vendor-Id" value="10415"></avp>
  <avp name="Auth-Application-Id" value="16777251"></avp>
</avp>

<avp name="Vendor-Specific-Application-Id">
  <avp name="Vendor-Id" value="13365"></avp>
  <avp name="Auth-Application-Id" value="16777251"></avp>
</avp>
```

Agree?

Closing as it is invalid.